<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../../dist/css/generic/styles.min.css">
  <link rel="stylesheet" href="../../../dist/css/cap_2/styles_cap_2.min.css">

  <link rel="stylesheet" href="../../../dist/css/generic/bootstrap.min.css">
  <link rel="stylesheet" href="../../../dist/css/generic/styles.min.css">
  <script type="text/javascript" src="../../../dist/class/engines/genericEngines/polyfillsAllUsed.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../../../dist/css/generic/ownerStyles.min.css" />
  <link rel="stylesheet" type="text/css" href="../../../dist/css/generic/generalStylesFragata.min.css" />

  <!-- <script defer src="https://unpkg.com/mathlive"></script> -->

  <title>Página 25.1</title>
</head>
<style>
  .contenedorGrid {
    display: wrap !important;
    flex-wrap: wrap !important;

  }

  .content_2 p {
    display: flex;
    justify-content: center !important;
  }
</style>

<body>
  <div class="containerNormal background-gray">
    <nav class="mb-5 border-bottom border-dark">
      <div class="d-flex justify-content-between">
        <p class="navbar-brand font-italic text-break">Operaciones con curvas</p>
      </div>
    </nav>

    <section class="containerNormal flexGrid">
      <div class="colorArtifact  " data-definition="artifact_1" data-board="board_1"></div>
      <div class="colorArtifact  " data-definition="artifact_2" data-board="board_2"></div>
      <div class="colorArtifact  " data-definition="artifact_3" data-board="board_3"></div>
      <div class="colorArtifact  " data-definition="artifact_4" data-board="board_4"></div>
      <div class="colorArtifact" data-definition="artifact_5" data-board="board_6"></div>
      <div class="colorArtifact" data-definition="artifact_6" data-board="board_7"></div>
      <div class="colorArtifact" data-definition="artifact_7" data-board="board_8"></div>
      <div class="colorArtifact" data-definition="artifact_8" data-board="board_9"></div>



    </section>



    <!-- TemplateEngineColor -->


    <template id="templateExample">

      <div class="artifactColor">
        <div class="artifactColor__notification transitionNotification " data-show="false">
          <!-- Selección de franjas inadecuada -->

        </div>

        <div class="artifactColor__Board" id="" data-board="board_" data-artifact="artifact_">
        </div>
        <div class="artifactColor__menu">
          <span class="arrowToClose"></span>

          <div class="artifactColor__menuContent">
            <div class="artifactColor__menuColors" data-position='positive' data-select="null">

            </div>
            <div class="artifactColor__menuColors" data-position='negative' data-select="null">

            </div>
          </div>
        </div>
        <div class="artifactColor__btnContainer btn-all">

          <div class="choseColors">

            <div class="choseColors__elements">

              <button class="choseColors__select" id="btnChose-0" data-status='inactive' data-select='null'>

              </button>
              <button class="btnChangePosition" title="Aplicar la inversa a los puntos"></button>
              <button class="choseColors__select" id="btnChose-1" data-status='inactive' data-select='null'>
              </button>
            </div>
          </div>
          <div class="artifactColor__Otherbtn">
          </div>
          <div>
            <button class="  help-btn button-marg buttonSecundary buttonKey d-none"></button>
            <button class=" reset button-marg buttonSecundary buttonKey"></button>
            <button class="  check button-marg buttonPrimary buttonKey"></button>
          </div>
        </div>
      </div>
    </template>

    <!-- fin TemplateEngineColor -->




  </div>
  </div>
  <!-- Librerías -->
  <script src="../../../dist/library/jsxgraphcore.min.js"></script>
  <script src="../../../dist/library/mathLive.min.js"></script>

  <!-- Motores -->
  <script src="../../../dist/class/engines/genericEngines/mathKeyboard.min.js"></script>
  <script src="../../../dist/class/engines/genericEngines/mod_G.min.js"></script>

  <script src="../../../dist/class/engines/genericEngines/engineMaker.min.js"></script>
  <script src="../../../dist/class/engines/cap_2/engineColor.min.js"></script>
  <script src="../../../dist/class/engines/genericEngines/progressEngine.min.js"></script>


  <!-- definicion -->
  <script src="../../../dist/definitions/cap_2/pag_25_1.min.js"></script>

  <!--    <script src="librery/MathLive.js"></script> -->

</body>

</html>