<!-- ----------------------------------|| Template 2 ||------------------------------------------------------- -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página 2</title>

  <!-- Estilos -->
  <link rel="stylesheet" href="../../../dist/css/generic/styles.min.css">
  <link rel="stylesheet" href="../../../dist/css/generic/bootstrap.min.css">
  <link rel="stylesheet" href="../../../dist/css/generic/styles.min.css">
  <script type="text/javascript" src="../../../dist/class/engines/genericEngines/polyfillsAllUsed.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../../../dist/css/generic/generalStylesFragata.min.css" />

</head>

<body>



  <!-- se puede crear cualquier estructura, es aconsejable que se encuentre dentro de etwAllArtifact -->
  <div class=" containerNormal background-gray">

    <h3>Estudio de curvas</h3>
    <hr>

    <p>Utilice los caminos fundamentales para poner los nombres adecuados en las elipses vacías</p>


    <div class=" d-flex flex-column">

      <div class=" d-flex flex-wrap flexGrid justify-content-center">
        <div class="elementEtw" data-artifact="artifact_1" data-board="board_1"></div>
        <div class="elementEtw" data-artifact="artifact_2" data-board="board_1"></div>
        <div class="elementEtw" data-artifact="artifact_3" data-board="board_1"></div>
        <div class="elementEtw" data-artifact="artifact_4" data-board="board_1"></div>
        <div class="elementEtw" data-artifact="artifact_5" data-board="board_2"></div>
        <div class="elementEtw" data-artifact="artifact_6" data-board="board_2"></div>
        <div class="elementEtw" data-artifact="artifact_7" data-board="board_2"></div>
        <div class="elementEtw" data-artifact="artifact_8" data-board="board_2"></div>
      </div>
    </div>
  </div>

  <!-- Inicio template que utiliza el motor-->

  <template id="tmp-way">

    <div id="artifact-" class="etwArtifact">

      <div class="etwArtifact__title"></div>
      <div class="etwArtifact__Board  etwBoard jxgbox" data-board="board_" data-artifact="artifact_">
      </div>

      <div class="etwArtifact__elements">
      </div>

      <div class="etwArtifact__btnContainer btn-all">
        <div>
          <button class=" help help-btn button-marg buttonSecundary buttonKey d-none"></button>
          <button class=" reset button-marg buttonSecundary buttonKey"></button>
          <button class=" etwArtifact__btnValidate check button-marg buttonPrimary buttonKey"></button>
        </div>
      </div>

    </div>

  </template>
  <!-- Librerías -->
  <script src="../../../dist/library/jsxgraphcore.min.js"></script>
  <script src="../../../dist/library/mathLive.min.js"></script>

  <!-- Motores -->
  <script src="../../../dist/class/engines/genericEngines/mathKeyboard.min.js"></script>
  <script src="../../../dist/class/engines/genericEngines/mod_G.min.js"></script>
  <script src="../../../dist/class/engines/cap_2/engineToWay.min.js"></script>
  <script src="../../../dist/class/engines/genericEngines/progressEngine.min.js"></script>


  <!-- definition -->
  <script src="../../../dist/definitions/cap_2/pag_2.min.js"></script>
</body>

</html>

<!-- ----------------------------------|| Template 2 ||------------------------------------------------------- -->