<%- include(rutes+'/head.min.ejs'); %>
  <div class="containerNormal background-gray">
    <h3>Fórmulas y Curvas</h3>
    <br>
    <h3 class="superTitle"><strong>Raiz cuadrada</strong></h3>
    <div class="flexGrid">
      <div class="example_1 defaultGraph centerElement" data-artifact="artifact_example_1" data-board="board_1"></div>
    </div>

    <br>
    <br>
    <p class="infoText">Complete la caracterización de la curva.</p>
    <div class="flexGrid">
      <div id="rendering_1" class="marginTop-2 marginBottom-2"></div>
      <div id="rendering_2" class="marginTop-2 marginBottom-2"></div>
      <div id="rendering_3" class="marginTop-2 marginBottom-2"></div>
      <div id="rendering_4" class="marginTop-2 marginBottom-2"></div>
      <div id="rendering_5" class="marginTop-2 marginBottom-2"></div>

    </div>
  </div>
  <%- include(rutes+'/bodyClose.min.ejs'); %>