<%- include(rutes+'/head.min.ejs'); %>
  <div class="containerNormal background-gray">
    <h3>Fórmulas y Curvas</h3>
    <hr>
    <p class="infoText">Resuelva el artefacto de la gráfica y responda las preguntas con la curva resultante.</p>

    <section class="">
      <div class="centerElement colorArtifact colorArtifact--lg " data-definition="artifact_1" data-board="board_0">
      </div>
    </section>

    <div class="flexGrid marginTop-2">
      <div class="rendering_2"></div>
      <div class="rendering_3" style="display: flex; flex-direction: column; gap: 20px;"></div>
      <div class="rendering_4"></div>
    </div>
  </div>
  <!-- 

   <img src="../../../assets/cap_2/3.png" alt="" style="width: 100%;  max-width: 700px;">
 -->


  <!-- TemplateEngineColor -->


  <template id="templateExample">

    <div class="artifactColor">
      <div class="artifactColor__notification transitionNotification " data-show="false">
        <!-- Selección de franjas inadecuada -->

      </div>

      <div class="artifactColor__Board" id="" data-board="board_" data-artifact="artifact_">
      </div>
      <div class="artifactColor__menu">
        <span class="arrowToClose"></span>

        <div class="artifactColor__menuContent">
          <div class="artifactColor__menuColors" data-position='positive' data-select="null">

          </div>
          <div class="artifactColor__menuColors" data-position='negative' data-select="null">

          </div>
        </div>
      </div>
      <div class="artifactColor__btnContainer btn-all">

        <div class="choseColors">

          <div class="choseColors__elements">

            <button class="choseColors__select" id="btnChose-0" data-status='inactive' data-select='null'>

            </button>
            <button class="btnChangePosition" title="Aplicar la inversa a los puntos"></button>
            <button class="choseColors__select" id="btnChose-1" data-status='inactive' data-select='null'>
            </button>
          </div>
        </div>
        <div class="artifactColor__Otherbtn">
        </div>
        <div>
          <button class="  help-btn button-marg buttonSecundary buttonKey d-none"></button>
          <button class=" reset button-marg buttonSecundary buttonKey"></button>
          <button class="  check button-marg buttonPrimary buttonKey"></button>
        </div>
      </div>
    </div>
  </template>

  <!-- fin TemplateEngineColor -->
  <%- include(rutes+'/bodyClose.min.ejs'); %>