<%- include(rutes+'/head.min.ejs'); %>
  <template id="template">
    <div id="artifact">
    </div>
  </template>

  <div class="containerNormal background-gray">
    <h3>Fórmulas y Curvas</h3>
    <hr>
    <br>
    <h2 class="superTitle"><strong>Exponencial</strong></h2>
    <br>



    <div class="flexGrid">

      <div id="globalContainer" class="">
        <div id="mainArtifact" style="max-width: 1200px  ;" class="d-flex justify-content-center">
          <div id="contenedor" class="mainContent  justify-content-start">
          </div>
        </div>

      </div>
      <!-- <div style=" min-height: 500px; min-width: 400px; width: 100%; height: 100%;background-color: gray; display: flex; justify-content: center; align-items: center; border-radius: 10px;"><p class="infoText ">Artefacto adicional</p> </div> -->



      <div id="example_rendering" class="marginTop-2 marginBottom-2"></div>

    </div>

    <div class="example_2 centerElement"></div>
    <!-- 
      <div
      class="alphabetEngine centerElement"
      data-artifact="artifact_2"
      data-board="board_1"
    ></div> -->



    <div class="flexGrid">
      <div id="rendering_1" class="marginTop-2 marginBottom-2"></div>

    </div>



    <div class="flexGrid">
      <!-- <div id="rendering_2" class="marginTop-2 marginBottom-2"></div> -->

      <!-- <div id="rendering_3" class="marginTop-2 marginBottom-2"></div> -->

    </div>
    <!-- <div class="flexGrid">
    <div id="rendering_4" class="marginTop-2 marginBottom-2"></div>

  </div> -->
    <div>
      <p class="infoText centerText">Complete la caracterización de la curva:
    </div>

    <div class="flexGrid">
      <div id="rendering_5" class="marginTop-2 marginBottom-2"></div>

      <div id="rendering_6" class="marginTop-2 marginBottom-2"></div>
      <div id="rendering_7" class="marginTop-2 marginBottom-2"></div>

    </div>

  </div>
  <%- include(rutes+'/bodyClose.min.ejs'); %>