<%- include(rutes+'/head.min.ejs'); %>
    <div class="containerNormal background-gray">



        <h3>Fórmulas y Curvas</h3>
        <hr>
        <br>


        <p class="infoText">Seleccione las curvas que se le indican, luego las verticales y desplaze los puntos
            para la creación de la curva producto de las dos curvas seleccionadas.
        </p>

        <template id="template">
            <div id="artifact">
            </div>
        </template>
        <div class="flexGrid centerText centContent">
            <div class="artifactSumConstant" data-artifact="artifact_1" data-board="board_1"></div>

        </div>
        <div id="rendering_1" class="marginTop-2 marginBottom-2 centContent"></div>



        <template id="engineSumConstant-tmp">
            <div class="engineSumConstant">
                <div class="engineSumConstantContainer"><!-- container artefact -->

                    <!-- container de enunciado -->
                    <div class="instructionText">

                    </div>


                    <div class="engineSumConstant__notification transitionNotification" data-show="false">
                    </div>

                    <div class="engineSumConstant__content">
                        <div class="engineSumConstant__Board" id="boad1" data-board="board_" data-artifact="artifact_">
                        </div>
                    </div>


                    <!-- donde se inserta el menu -->
                    <div class="artifactCurve__menu ">
                        <section class="closeContent">
                            <p class="textSelect">Selecciona la Curva</p>
                            <button class="close-btn"> </button>

                        </section>
                        <section class="funtionContent">

                        </section>
                    </div>

                    <div class="engineSumConstant__btnContainer btnContainer btn-all">

                        <div class="engineSumConstant__Otherbtn">

                            <button class="button-marg_menu buttonSecundary_menu buttonKey_menu curve_menu btnCurve"
                                id="btnChose-0" data-status='inactive' data-select='null' title="menú de curvas">
                        </div>
                        <div>
                            <button class=" asyntote button-marg buttonTertiary buttonKey buttonAux"
                                title="Verticales en 0">
                                <svg width="100%" height="100%" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                                    style="pointer-events: none;">
                                    <circle cx="50%" cy="50%" r="12%" fill="none" stroke="#494c55" stroke-width="2" />
                                    <circle cx="50%" cy="50%" r="22%" fill="none" stroke="#494c55" stroke-width="2" />
                                    <line x1="50%" y1="0" x2="50%" y2="100%" stroke="#494c55" stroke-width="2"
                                        stroke-linecap="round" />
                                </svg>
                            </button>
                            <button class=" xSlice button-marg buttonTertiary buttonKey buttonAux" title="Verticales">
                                <svg width="100%" height="100%" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                                    style="pointer-events: none;">

                                    <line x1="100%" y1="50%" x2="0%" y2="50%" stroke="#494c55" stroke-width="2"
                                        stroke-linecap="round" />
                                    <line x1="80%" y1="100%" x2="20%" y2="0%" stroke="#494c55" stroke-width="2"
                                        stroke-linecap="round" />
                                    <line x1="50%" y1="100%" x2="50%" y2="0%" stroke="#494c55" stroke-width="2"
                                        stroke-linecap="round" />

                                </svg>
                            </button>

                            <button class="help-btn button-marg buttonSecundary buttonKey d-none"></button>
                            <button class="reset button-marg buttonSecundary buttonKey" title="Reset"></button>
                            <button class="check button-marg buttonPrimary buttonKey" title="Validar"></button>
                        </div>
                    </div>
                </div>
            </div>
        </template>

        <!-- template de  curvas menu -->
        <template id="tmp-ImagenMenu">
            <div class="cardfuntionMenu justify-content-center">

                <img src="" alt="" class="svgCurves">
            </div>
        </template>
    </div>
    <%- include(rutes+'/bodyClose.min.ejs'); %>