<%- include(rutes+'/head.min.ejs'); %>

   <body>
      <div class="containerNormal background-gray">
         <nav class="mb-5 border-bottom border-dark ">
            <div class="d-flex justify-content-between">
               <h3 class="navbar-brand text-break pl-3">
                  Estudio de Curvas
               </h3>
            </div>
         </nav>


         <div id="mainOwner" class="d-flex flex-wrap justify-content-center">

         </div>

         <div id="grid" class="d-flex flex-wrap justify-content-center">

         </div>

         <template id="template">
            <div class="content_1">
               <div class="content_2">

               </div>
            </div>
            <div class="newContent"> </div>

         </template>
      </div>
      <%- include(rutes+'/bodyClose.min.ejs'); %>