<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />



  <script src="../../../dist/library/mathLive.min.js"></script>
  <script type="text/javascript" src="../../../dist/library/jsxgraphcore.min.js"></script>

  <link rel="stylesheet" type="text/css" href="../../../dist/css/generic/jsxgraph.min.css" />
  <link rel="stylesheet" type="text/css" href="../../../dist/css/generic/styles.min.css" />
  <link rel="stylesheet" type="text/css" href="../../../dist/css/generic/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../../../dist/css/generic/generalStylesFragata.min.css" />
  <script type="text/javascript" src="../../../dist/class/engines/genericEngines/polyfillsAllUsed.min.js"></script>
  <title>Página 15</title>
</head>

<body>

  <style>
    @media only screen and (max-width: 350px) {
      .short-board {
        width: 250px !important;
        height: 200px;

      }
    }
  </style>

  <!-- <nav class="mb-5 border-bottom border-dark ">
      <div class="d-flex justify-content-between">
         <p class="navbar-brand font-italic text-break">
            Estudio de Curvas
         </p>
      </div>
   </nav> -->
  <div id="" class="containerNormal background-gray">
    <h3>Estudio de Curvas</h3>
    <hr>

    <div id="mainOwner">

    </div>

    <div id="grid" class="d-flex  flex-wrap justify-content-center">

    </div>

    <template id="template">
      <div class="content_1">
        <div class="content_2">

        </div>
      </div>
      <div class="newContent"> </div>

    </template>
  </div>

  <!-- cap_1/:engineOwner,:cap_1/:boardDefault,:cap_1/:validationCurves -->
  <script src="../../../dist/class/engines/genericEngines/mod_G.min.js"></script>
  <script src="../../../dist/class/engines/genericEngines/progressEngine.min.js"></script>

  <script src="../../../dist/engines/cap_1/engineOwner.min.js"></script>
  <script src="../../../dist/engines/cap_1/boardDefault.min.js"></script>
  <script src="../../../dist/engines/cap_1/validationCurves.min.js"></script>
  <script src="../../../dist/definitions/cap_1/pag_15.min.js"></script>
</body>

</html>