<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />



  <script src="../../../dist/library/mathLive.min.js"></script>
  <script type="text/javascript" src="../../../dist/library/jsxgraphcore.min.js"></script>

  <link rel="stylesheet" type="text/css" href="../../../dist/css/generic/jsxgraph.min.css" />
  <link rel="stylesheet" type="text/css" href="../../../dist/css/generic/styles.min.css" />
  <link rel="stylesheet" type="text/css" href="../../../dist/css/generic/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../../../dist/css/generic/generalStylesFragata.min.css" />
  <script type="text/javascript" src="../../../dist/class/engines/genericEngines/polyfillsAllUsed.min.js"></script>

  <title>Página 14.1</title>
</head>

<body>
  <style>
    @media only screen and (max-width: 350px) {
      .board-validation-curves {
        width: 250px;
      }
    }
  </style>

  <!-- <nav class="mb-5 border-bottom border-dark ">
      <p class="navbar-brand font-italic text-break">
         Estudio de Curvas
      </p>
      <p>Complete cada recuadro con una curva f conexa que cumpla con las tres condiciones señaladas.</p>
   </nav> -->
  <div id="" class="containerNormal background-gray">
    <h3>Estudio de Curvas</h3>
    <hr>
    <p class="infoText">Complete cada recuadro con una curva <span class="expression">ƒ</span>
      conexa que cumpla con las tres condiciones señaladas.
    </p>
    <div id="container" style="max-width: 1050px;">
      <div class="d-flex flex-wrap justify-content-center">
        <!--Contenedores de los boards-->
        <div class="defBoard" data-artifact="artifact_1"></div>
        <div class="defBoard" data-artifact="artifact_2"></div>
        <div class="defBoard" data-artifact="artifact_3"></div>
        <div class="defBoard" data-artifact="artifact_4"></div>
        <div class="defBoard" data-artifact="artifact_5"></div>
        <div class="defBoard" data-artifact="artifact_6"></div>
        <div class="defBoard" data-artifact="artifact_7"></div>
        <div class="defBoard" data-artifact="artifact_8"></div>
        <div class="defBoard" data-artifact="artifact_9"></div>
        <div class="defBoard" data-artifact="artifact_10"></div>
        <div class="defBoard" data-artifact="artifact_11"></div>
        <div class="defBoard" data-artifact="artifact_12"></div>
      </div>
    </div>

    <h3 class="titleInfo"><b> Notación.</b></h3>
    <p class="infoText">
      Si una curva tiene por nombre la letra <span class="expression">ƒ</span>, su altura en
      <span class="expression">a</span> se denotará con <span class="expression">ƒ(a)</span>. Ejemplos: <br>
      <span class="expression">g(3)</span> denota la altura de <span class="expression">g</span> en 3 <br>
      La expresión simbólica <span class="expression">ƒ( x ) > 0 </span> significa que la
      altura de la curva <span class="expression">ƒ</span> en <span class="expression">x</span> es positiva.
    </p>
  </div>

  <script src="../../../dist/class/engines/genericEngines/mod_G.min.js"></script>
  <script src="../../../dist/class/engines/genericEngines/progressEngine.min.js"></script>

  <script src="../../../dist/engines/cap_1/boardDefault.min.js"></script>
  <script src="../../../dist/engines/cap_1/validationCurves.min.js"></script>
  <script src="../../../dist/definitions/cap_1/pag_14_1.min.js"></script>

</body>

</html>