<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />



  <script src="../../../dist/library/mathLive.min.js"></script>
  <script type="text/javascript" src="../../../dist/library/jsxgraphcore.min.js"></script>

  <link rel="stylesheet" type="text/css" href="../../../dist/css/generic/jsxgraph.min.css" />
  <link rel="stylesheet" type="text/css" href="../../../dist/css/generic/styles.min.css" />
  <link rel="stylesheet" type="text/css" href="../../../dist/css/generic/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../../../dist/css/generic/generalStylesFragata.min.css" />

  <script type="text/javascript" src="../../../dist/class/engines/genericEngines/polyfillsAllUsed.min.js"></script>
  <title>Página 6</title>
</head>

<body>

  <div class="containerNormal background-gray">
    <h3> Estudio de Curvas</h3>
    <hr>
    <h2 class="superTitle"> PARTES CRECIENTES Y DECRECIENTES</h2>
    <div id="mainOwner">
      <div class="note">
        <p>
          Al desplazar un punto de izquierda a derecha sobre el eje x, si la curva "sube" se dice que la curva es creciente en esa parte del eje x. Si la curva "baja" se dice que es decreciente (en esa parte del eje x).
        </p>
      </div>
    </div>
  </div>


  <template id="template">

    <div class="content_1">
      <div class="content_2">
      </div>
    </div>

    <div class="newContent"> </div>
  </template>


  <script src="../../../dist/engines/cap_1/engineOwner.min.js"></script>
  <script src="../../../dist/engines/cap_1/boardDefault.min.js"></script>
  <script src="../../../dist/class/engines/genericEngines/mod_G.min.js"></script>
  <script src="../../../dist/class/engines/genericEngines/progressEngine.min.js"></script>

  <!-- def -->
  <!-- <script src="../../../dist/definitions/cap_1/pag_3.js"></script> -->
  <script src="../../../dist/definitions/cap_1/pag_6.min.js"></script>

</body>

</html>