<body>

</body>



<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!-- Estilos -->
  <link rel="stylesheet" href="../../../dist/css/generic/styles.min.css">
  <link rel="stylesheet" href="../../../dist/css/generic/bootstrap.min.css">
  <link rel="stylesheet" href="../../../dist/css/generic/styles.min.css">
  <script type="text/javascript" src="../../../dist/class/engines/genericEngines/polyfillsAllUsed.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../../../dist/css/generic/generalStylesFragata.min.css" />

  <title>Página 20.1</title>
</head>

<body>

  <style>
    @media only screen and (max-width: 350px) {
      .board-validation-curves {
        width: 250px;
      }


    }
  </style>

  <div class="containerNormal background-gray">

    <h3>Estudio de Curvas</h3>
    <hr>
    <div class="infoText" style="">
      <p class="text-break" style="margin: 20px; max-width: 1346px;">
        La condición <span class="expression">&nbsp; a

          < ƒ(x)&nbsp;&nbsp;</span>, será interpretada
            como: "las alturas de <span class="expression">ƒ</span> , en todos los x del dominio de <span class="expression">ƒ</span> deben ser mayor que <span class="expression">a</span> " . La manera
            correcta de
            escribir esta condición es: <span class="operationContainer" style="padding-top: 1px;"> ∀x ∈ Dom(ƒ),a

              < ƒ(x)</span>. Al interpretar a

                < ƒ(x) de la manera que se acaba de indicar, se está asumiendo que la condición se debe cumplir <span class='operationContainer'>∀x ∈ Dom(ƒ)
            </span> </p>
    </div>

    <div class="titleInfo marginTop-2">
      <p class="containerNormal ">
        Grafique en cada caso una curva ƒ que satisfaga las condiciones señaladas
      </p>
    </div>

    <div id=" container" class="containerNormal" style="max-width: 1050px;">
      <div class="d-flex flex-wrap justify-content-center">
        <div class="defBoard" data-artifact="artifact_1"></div>
        <div class="defBoard" data-artifact="artifact_2"></div>
        <div class="defBoard" data-artifact="artifact_3"></div>
        <div class="defBoard" data-artifact="artifact_4"></div>
        <div class="defBoard" data-artifact="artifact_5"></div>
        <div class="defBoard" data-artifact="artifact_6"></div>
        <div class="defBoard" data-artifact="artifact_7"></div>
        <div class="defBoard" data-artifact="artifact_8"></div>
        <div class="defBoard" data-artifact="artifact_9"></div>
        <div class="defBoard" data-artifact="artifact_10"></div>
        <div class="defBoard" data-artifact="artifact_11"></div>
        <div class="defBoard" data-artifact="artifact_12"></div>

      </div>
    </div>

  </div>
  </div>


  <!-- Librerías -->
  <script src="../../../dist/library/jsxgraphcore.min.js"></script>
  <script src="../../../dist/library/mathLive.min.js"></script>

  <!-- Motores -->
  <script src="../../../dist/class/engines/genericEngines/mod_G.min.js"></script>
  <script src="../../../dist/class/engines/genericEngines/mathKeyboard.min.js"></script>
  <script src="../../../dist/engines/cap_1/boardDefault.min.js"></script>
  <script src="../../../dist/engines/cap_1/validationCurves.min.js"></script>
  <script src="../../../dist/class/engines/genericEngines/progressEngine.min.js"></script>

  <!-- Definition -->
  <script src="../../../dist/definitions/cap_1/pag_20_1.min.js"></script>
</body>

</html>