<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />


  <!-- Estilos -->
  <link rel="stylesheet" href="../../../dist/css/generic/styles.min.css" />
  <link rel="stylesheet" href="../../../dist/css/generic/bootstrap.min.css" />
  <link rel="stylesheet" href="../../../dist/css/generic/jsxgraph.min.css" />
  <script type="text/javascript" src="../../../dist/class/engines/genericEngines/polyfillsAllUsed.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../../../dist/css/generic/generalStylesFragata.min.css" />
  <title>Página 31</title>
</head>

<body>
  <style>
    @media only screen and (max-width: 320px) {
      .contentArtefact {
        width: 250px;
      }

      .short-board {
        width: 100% !important;
      }
    }
  </style>

  <div class="containerNormal background-gray">
    <h3>Estudio de Curvas</h3>
    <hr />
    <div class="d-flex justify-content-center flex-column">
      <div id="mainOwner" class="d-flex flex-wrap justify-content-center"></div>

      <div id="grid" class="d-flex flex-wrap justify-content-center"></div>
    </div>
    <template id="template">
      <div class="content_1">
        <div class="content_2"></div>
      </div>
    </template>
  </div>

  <!-- Motores -->
  <script src="../../../dist/engines/cap_1/engineOwner.min.js"></script>

  <!-- Definition -->
  <script src="../../../dist/definitions/cap_1/pag_32.min.js"></script>
</body>

</html>