<%- include(rutes+'/head.min.ejs'); %>
  <div class="containerNormal background-gray">

    <h3>Fórmulas</h3>
    <hr>
    <div class="text-center">
      <h1>EJEMPLOS DE POLINOMIOS</h1>
      <p>Observe: diagramas diferentes, mismo polinomio</p>
    </div>
    <p style="margin-left: 100px;">Complete:</p>
    <math-field id="test" virtual-keyboard-mode="onfocus"></math-field>

    <!-- style="max-width: 1050px" -->
    <div id="mainArtifact" style="max-width: 1200px">
      <div id="contenedor" class="mainContent">
        <div id="titulo"></div>
      </div>
    </div> <br>

    <!-- <p class="text-center">En su cuaderno, haga al menos dos diagramas diferentes para cada uno de los polinomios:</p>

<div style=" display: flex;
 justify-content: center;
 align-items: center;
 ">
  <math-field style="font-size: 18px;" disabled>
    3x^2-2x+1,\quad 4x^4+x,\quad 5-x+2x^3,\quad x+x^2
  </math-field>
</div> -->
    <template id="template">
      <div id="artifact"></div>
    </template>

  </div>
  <%- include(rutes+'/bodyClose.min.ejs'); %>