<%- include(rutes+'/head.min.ejs'); %>
   <!-- <div  class="containerNormal background-gray">
   
  <div class="d-flex flex-column">
     <div class="navbar-brand">
        <h3>Fórmulas</h3>
        <hr>
</div>
<p class="superTitle mt-5 ">DOMINIO y RANGO de una TECLA</p>

<div id="mainOwner">

  <div id="globalContainer" class="">



<div id="oneContainer"></div>

  <div id="mainArtifact" style="max-width: 1200px  ;" class="d-flex justify-content-center">
    <div id="contenedor" class="mainContent  justify-content-start">
    </div>
  </div>

</div>
                    
</div>

</div>






 -->

   <div class="containerNormal background-gray">
      <h3>Fórmulas</h3>
      <hr />
      <h2 class="superTitle"><strong>DIAGRAMAS RAMIFICADOS</strong></h2>

      <p class="infoText">
         Diagramas como el de la figura se llamarán " ramificados" a diferencia
         de los diagramas que se han estudiado hasta ahora, que tenían una sola
         rama y que llamaremos diagramas de " pura composición" o " no
         ramificados" . Como podrá haber notado, resolver ecuaciones con fórmulas
         cuyo diagrama es ramificado puede ser muy complicado. En el capítulo de
         inecuaciones se abordará este problema. Un método que sirve para
         resolver algunas de esas ecuaciones es conocido como el método de
         Newton-Raphson, que se ve parcialmente en Cálculo 2 y se estudia en
         Cálculo Numérico.
      </p>

      <div class="infoText">
         <p class="infoText">El calculo de
            <span class="expression ">
               ƒ(3.5)
            </span>

            para

            <math-field class="expression " style="margin-bottom: 3px; display: inline-flex;" read-only
               virtual-keyboard-mode="off" fonts-directory="fonts" keypress-sound="none">
               \quad f\left(x\right)=x^2\cdot\exponentialE^x \quad
            </math-field>

            <span class="expression ">
               ƒ(3.5)=405.664286
            </span>
         </p>
      </div>

      <p class="infoText">Complete:</p>
      <!-- style="max-width: 1050px" -->
      <div class="contentArtifactMath">
         <div id="mainArtifact" style="max-width: 1050px">
            <div id="contenedor" class="mainContent"></div>
         </div>
      </div>

      <template id="template">
         <div id="artifact"></div>
      </template>
      <!-- 
  <template id="globalTemplate">
     <div id="artifact-container"
        class="d-flex w-100 flex-wrap justify-content-center rounded btn-all artifact-container question">
        <div id="content" class="question__content">
        </div>
        <div class="d-flex w-100 flex-wrap justify-content-center  rounded btn-all question__footer">
           <div class="d-flex flex-row">
              <div class="d-flex flex-wrap justify-content-start "></div>
              <button class="reset button-marg buttonSecundary buttonKey question__footer__reset"
                 title="Reiniciar"></button>
              <button class="check button-marg buttonPrimary buttonKey question__footer__check"
                 title="Validar"></button>

           </div>
        </div>

     </div>

  </template>
  <template id="templateSelect">
     <div class='' id="selectq">
        <div class="">
           <label for="opciones"></label>
        </div>
        <div class="">
           <select class="form-select form-controlx" name="opciones" id="opciones" style="width:fit-content">
        </div>
        </select>
     </div>
  </template>
  <template id="templateCheck">

     <div class="" id="radioContainer">
        <div class="title ">
        </div>
        <div class="content  ">
        </div>
     </div>
  </template>
  <template id="templateInput">
     <div class="row d-flex justify-content-center">
        <div id="title" class=""></div>
        <div id="content" class=""></div>
     </div>

  </template>
-->
   </div>
   <%- include(rutes+'/bodyClose.min.ejs'); %>