<%- include(rutes+'/head.min.ejs'); %>
  <div class="containerNormal background-gray">

    <div class="d-flex flex-column">
      <div class="navbar-brand">
        <h3>Fórmulas</h3>
        <hr>

        <!-- style="max-width: 1050px" -->


        <template id="template">
          <div id="artifact">

          </div>

        </template>

      </div>


      <p class="superTitle"><strong>Principio de simplificación</strong></p>


      <p class="infoText">Si es una composición de teclas, hay dos teclas <strong>consecutivas</strong> que son inversas
        entre ellas, la fórmula que se obtiene tachándolas y eliminandolas
        tiene el mismo valor y por lo tanto es una versión simplificada</p>

      <p class="infoText">Complete. Escriba la simplificación.</p>


      <div class="d-flex justify-content-center flex-row">

        <div id="mainArtifact" style="max-width: 1200px ;">
          <div id="contenedor" class="mainContent">

          </div>

        </div>
      </div>
      <%- include(rutes+'/bodyClose.min.ejs'); %>