<%- include(rutes+'/head.min.ejs'); %>
  <div class="containerNormal background-gray">
    <h1>Fórmulas</h1>
    <hr />
    <div class="content_2">
      <h4 class="parrafo superTitle">Comentarios.</h4>
      <div class="contenedor">
        <p class="parrafo infoText">
          <span class="subtitulo">Propiedades</span><br />
          Diagramas. Representación de fórmulas utilizando diagramas. Teclas
          inversas. Ecuación: solución de una ecuación. Dominio y rango de una
          tecla. Diagramas ramificados. Polinomios y fracciones racionales.
        </p>
      </div>
      <div class="contenedor">
        <p class="parrafo infoText">
          <span class="subtitulo">Conexiones e importancia del capítulo</span><br />
          Los diagramas, que sirven en este capítulo para comprender la estructura
          algebraica de las formulas y la solución de una ecuación, se utilizan a
          lo largo de todo el texto. Como se verá más adelante facilitan
          grandemente el estudio del cálculo de límites. Sirven para ordenar la
          aplicación de transformaciones (verticales u horizontales) al graficar
          fórmulas. Ayudan a introducir la regla de la cadena, ...etc.
        </p>
      </div>
      <div class="contenedor">
        <p class="parrafo infoText">
          <span class="subtitulo">Conexiones e importancia del capítulo</span><br />
          Los diagramas, que sirven en este capítulo para comprender la estructura
          algebraica de las formulas y la solución de una ecuación, se utilizan a
          lo largo de todo el texto. Como se verá más adelante facilitan
          grandemente el estudio del cálculo de límites. Sirven para ordenar la
          aplicación de transformaciones (verticales u horizontales) al graficar
          fórmulas. Ayudan a introducir la regla de la cadena, ...etc.
        </p>
      </div>
      <div class="contenedor">
        <p class="parrafo infoText">
          <span class="subtitulo">Funcionamiento didáctico</span><br />
          El diagrama es una recurso semiótico extremadamente poderoso. Sin
          embargo para que pueda ser utilizado desde un punto de vista didáctico
          es necesario asegurar que el alumno tenga una comprensión cabal de su
          funcionamiento. Ese es el papel de las primeras páginas del capítulo. En
          primer lugar es importante motivar el uso del diagrama utilizando la
          calculadora: de esta manera aparece como un recurso útil para condensar
          información y suele ser aceptado de manera natural por los estudiantes.
          Es importante que se comprenda que los objetos que van en las elipses
          son cualitativamente diferentes de los que van en los cuadrados. La
          convención de no poner x en las teclas es fundamental y refuerza, en la
          práctica, esa diferencia. El diagrama, se utiliza para:
          <br />
          <br />
          1- Realzar visualmente profundas diferencias algebraicas, que no se
          manifiestan tan marcadamente en la notación usual. Por ejemplo: Cos(x)+1
          y Cos(x+1). (ver pág. 3-3). También permiten diferenciar fórmulas
          asociadas a funciones compuestas (que tienen diagramas no-ramificados)
          de fórmulas polinómicas (que tienen diagramas ramificados) (ver pág 3-6
          y 3-20).
          <br />
          <br />
          2- Presentar la noción de inversa.(ver pág. 3-7).
          <br />
          <br />
          3- Trabajar la noción de ecuación y resolución de ecuación. A diferencia
          del bachillerato y gracias a la noción de inversa, la ecuación y su
          solución es trabajada en un cuadro funcional. En el bachillerato actual,
          las ecuaciones son trabajadas en el cuadro de los axiomas de los números
          reales. El trabajar en el cuadro funcional tiene la ventaja
          significativa de dar un procedimiento general de resolución de
          ecuaciones, válido no sólo en el contexto de funciones reales sino mucho
          más allá (sistemas de ecuaciones, ecuaciones diferenciales, ...etc).
        </p>
      </div>
      <div class="contenedor">
        <p class="parrafo infoText">
          <span class="subtitulo">Puntos delicados</span><br />
          La formación deficiente y a menudo viciada en lo que respecta a las
          manipulaciones algebraicas elementales es un obstáculo enorme para la
          enseñanza del cálculo. Además de ello están presentes numerosas
          preconcepciones erradas. Si bien no podemos, en este texto, ni siquiera
          intentar un análisis somero de tales deficiencias, quisieramos mostrar,
          con algunos ejemplos, cómo las actividades de este capítulo abordan el
          tratamiento de esas deficiencias y preconcepciones. Una confusión
          frecuente es el no distinguir claramente entre producto y composición.
          Así, se ha constatado que numerosos estudiantes creen que (Sen(x))² =
          Sen²(x²). O bien que Sen(Sen(x)) = Sen²(x). Esta confusión tiene
          implicaciones serias a la hora de derivar: en algunas situaciones, donde
          se debe aplicar la regla de la cadena, algunos estudiantes aplican la
          regla del producto de derivadas. En la página 3-3 se presentan, para que
          sean corregidos por el estudiante, algunos de esos errores comunes. La
          actividad de esa página es insuficiente para corregir el tipo de falla
          mencionada. Sin embargo, la referencia al diagrama permite al estudiante
          interpretar la diferencia entre las fórmulas. Se recomienda una actitud
          vigilante del profesor a lo largo de todo el semestre para ir
          corrigiendo este tipo de fallas.
          <br /><br />
          En general las preconcepciones sobre lo que es la solución de una
          ecuación son del tipo "solución es el número que me da al despejar". El
          trabajo hecho con el diagrama y su conexión con el lenguaje usualmente
          utilizado (ver pág. 3-8 a 3-10) permiten modificar esa preconcepción.
          Superar la preconcepción señalada es indispensable para comprender
          porqué una ecuación puede tener una, varias o inclusive ninguna
          solución.
          <br />
          Finalmente, otro de los problemas detectados tiene que ver con los
          despejes. Las páginas 3-12 a 3- 17, analizan las operaciones del despeje
          usual haciendo referencia a los diagramas y las inversas.
        </p>
      </div>
      <div class="contenedor">
        <p class="parrafo infoText">
          <span class="subtitulo">Objetivos actitudinales</span><br />
          El conjunto de las actividades planteadas no es suficiente para superar
          los obstáculos y deficiencias señaladas. Son un primer paso
          indispensable: todas ellas sensibilizan al alumno a tratar los símbolos
          con cierto cuidado
        </p>
      </div>
      <div class="contenedor">
        <p class="parrafo infoText">
          <span class="subtitulo">Contrato didáctico</span><br />
          La convención (en las teclas no puede ir la x) es muy importante para la
          comprensión del tópico. El profesor debería usar el contrato para
          enfatizar su importancia. <br />
          El "ojo!" aparece en el texto por diferentes razones. A veces es porque
          el ejercicio es un poco diferente a los anteriores de la serie y en ese
          caso sirve para alertar al alumno. A veces indica que el ejercicio no
          tiene solución. Otras veces indica que el ejercicio no puede ser
          resuelto con los instrumentos dados hasta ese momento. En esos casos el
          ejercicio juega un papel de motivación para puntos que se estudian más
          adelante en el libro, (por ejemplo los de las páginas 3-7 y 3-11). Es
          conveniente, en esos casos, evitar la introducción ad-hoc, de nociones
          necesarias para resolver el problema. Es preferible esperar hasta que
          esas nociones sean desarrolladas más adelante. Entonces, el punto
          problemático puede ser retomado y discutido. Cada vez que aparece ojo!
          convendría que el estudiante consulte con el profesor acerca de su
          significado.
        </p>
      </div>
    </div>
  </div>
  <%- include(rutes+'/bodyClose.min.ejs'); %>