<%- include(rutes+'/head.min.ejs'); %>
  <div class="containerNormal background-gray">
    <h3>Fórmulas</h3>
    <hr />
    <div class="note">
      <p>-En caso de error o que no sea solución, colocar ∄.</p>
      <p>-Recuerde utilizar 6 decimales si es necesario.</p>
      <p>-Utilice la calculadora en radianes.</p>
      <p class="text-danger">-Después del = van expresiones con un número.</p>
    </div>

    <!-- style="max-width: 1050px" -->
    <div class="" id="mainArtifact">
      <div id="contenedor" class="mainContent" style="justify-content: start !important;">
        <div id="titulo"></div>
      </div>
    </div>

  </div>
  <template id="template">
    <div id="artifact"></div>

    </div>
    <template id="template">
      <div id="artifact"></div>
    </template>


    <div class="" id="globalContainer">
    </div>
    <template id="globalTemplate">
      <div id="artifact-container"
        class="d-flex w-100 flex-wrap justify-content-center rounded btn-all artifact-container">
        <div id="content" class="">
        </div>
        <div class="d-flex w-100 flex-wrap justify-content-center  rounded btn-all">
          <div class="d-flex flex-row">
            <div class="d-flex flex-wrap justify-content-start"></div>

            <button class="reset button-marg buttonSecundary buttonKey" title="Reiniciar"></button>
            <button class="check button-marg buttonPrimary buttonKey" title="Validar"></button>
          </div>
        </div>
      </div>
    </template>

    </div>
    <%- include(rutes+'/bodyClose.min.ejs'); %>