<%- include(rutes+'/head.min.ejs'); %>
   <div id="mainArtifact" class="containerNormal background-gray">
      <div class="d-flex flex-column">
         <div class="w-10 mt-2">
            <h3>Fórmulas</h3>
            <hr>
            <div>

               <p class="infoText">Complete los diagramas de manera coherente</p>
            </div>


         </div>

      </div>
      <div id="contenedor" class="mainContent">

      </div>

   </div>

   <template id="template">
      <div id="artifact">

      </div>

   </template>
   <%- include(rutes+'/bodyClose.min.ejs'); %>