<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Página 12.1</title>
  <link rel="stylesheet" href="../../../dist/css/generic/bootstrap.min.css" />
  <link rel="stylesheet" href="../../../dist/css/generic/jsxgraph.min.css" />
  <link rel="stylesheet" href="../../../libraries/css/mathLive/mathlive-static.css" />

  <link rel="stylesheet" href="../../../dist/css/generic/styles.min.css" />
  <link rel="stylesheet" href="../../../libraries/generalStylesFragata.css" />
  <link rel="stylesheet" href="../../../libraries/css/cap_4/styles_cap_4.css" />
</head>

<body>
  <div class="containerNormal background-gray">
    <h3>Fórmulas y Curvas</h3>
    <br>
    <h3 class="superTitle"><strong>Raiz cuadrada</strong></h3>
    <div class="flexGrid">
      <div class="example_1 defaultGraph centerElement" data-artifact="artifact_example_1" data-board="board_1"></div>
    </div>

    <br>
    <br>
    <p class="infoText">Complete la caracterización de la curva.</p>
    <div class="flexGrid">
      <div id="rendering_1" class="marginTop-2 marginBottom-2"></div>
      <div id="rendering_2" class="marginTop-2 marginBottom-2"></div>
      <div id="rendering_3" class="marginTop-2 marginBottom-2"></div>
      <div id="rendering_4" class="marginTop-2 marginBottom-2"></div>
      <div id="rendering_5" class="marginTop-2 marginBottom-2"></div>

    </div>
  </div>

  <!-- Librerías -->
  <script src="../../../dist/library/jsxgraphcore.min.js"></script>
  <!-- <script src="../libraries/mathLive-V0.9.js"></script> -->
  <script src="../../../libraries/mathLive-V0.9.js"></script>
  <script src="../../../libraries/computeEngine-0.2.js"></script>

  <!-- Motores -->
  <script src="../../../dist/class/engines/genericEngines/mod_G.min.js"></script>
  <script src="../../../dist/class/engines/genericEngines/mathKeyboard.min.js"></script>
  <script src="../../../dist/class/engines/genericEngines/progressEngine.min.js"></script>
  <script src="../../../dist/engines/cap_4/mathEngine.min.js"></script>
  <script src="../../../dist/engines/genericEngines/engineLayout.min.js"></script>
  <script src="../../../dist/class/engines/genericEngines/engineMaker.min.js"></script>
  <script src="../../../dist/engines/cap_4/engineAlphabet.min.js"></script>

  <script src="../../../dist/engines/cap_4/quizEngine.min.js"></script>
  <script src="../../../dist/engines/cap_4/keyboardsList.min.js"></script>

  <!-- Definition -->
  <script src="./../../../dist/definitions/cap_4/pag_12_1.min.js"></script>

</body>

</html>