<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../dist/css/generic/bootstrap.min.css">
  <link rel="stylesheet" href="../../../dist/css/generic/jsxgraph.min.css" />
  <link rel="stylesheet" href="../../../libraries/css/mathLive/mathlive-static.css" />

  <link rel="stylesheet" type="text/css" href="../../../dist/css/generic/generalStylesFragata.min.css" />
  <link rel="stylesheet" type="text/css" href="../../../dist/css/generic/styles.min.css" />
  <link rel="stylesheet" href="../../../libraries/css/cap_4/styles_cap_4.css" />
  <script type="text/javascript" src="../../../dist/class/engines/genericEngines/polyfillsAllUsed.min.js"></script>
  <title>Exponencial</title>

</head>

<body>
  <template id="template">
    <div id="artifact">
    </div>
  </template>

  <div class="containerNormal background-gray">
    <h3>Fórmulas y Curvas</h3>
    <hr>
    <br>
    <h2 class="superTitle"><strong>Exponencial</strong></h2>
    <br>



    <div class="flexGrid">

      <div id="globalContainer" class="">
        <div id="mainArtifact" style="max-width: 1200px  ;" class="d-flex justify-content-center">
          <div id="contenedor" class="mainContent  justify-content-start">
          </div>
        </div>

      </div>
      <!-- <div style=" min-height: 500px; min-width: 400px; width: 100%; height: 100%;background-color: gray; display: flex; justify-content: center; align-items: center; border-radius: 10px;"><p class="infoText ">Artefacto adicional</p> </div> -->



      <div id="example_rendering" class="marginTop-2 marginBottom-2"></div>

    </div>

    <div class="example_2 centerElement"></div>
    <!-- 
        <div
        class="alphabetEngine centerElement"
        data-artifact="artifact_2"
        data-board="board_1"
      ></div> -->



    <div class="flexGrid">
      <div id="rendering_1" class="marginTop-2 marginBottom-2"></div>

    </div>



    <div class="flexGrid">
      <!-- <div id="rendering_2" class="marginTop-2 marginBottom-2"></div> -->

      <!-- <div id="rendering_3" class="marginTop-2 marginBottom-2"></div> -->

    </div>
    <!-- <div class="flexGrid">
      <div id="rendering_4" class="marginTop-2 marginBottom-2"></div>

    </div> -->
    <div>
      <p class="infoText centerText">Complete la caracterización de la curva:
    </div>

    <div class="flexGrid">
      <div id="rendering_5" class="marginTop-2 marginBottom-2"></div>

      <div id="rendering_6" class="marginTop-2 marginBottom-2"></div>
      <div id="rendering_7" class="marginTop-2 marginBottom-2"></div>

    </div>

  </div>

  <script src="../../../dist/library/jsxgraphcore.min.js"></script>



  <script type="text/javascript" src="../../../libraries/mathLive-V0.9.js"></script>
  <script type="text/javascript" src="../../../libraries/computeEngine-0.2.js"></script>


  <script src="../../../dist/class/engines/genericEngines/mod_G.min.js"></script>
  <script src="../../../dist/class/engines/genericEngines/mathKeyboard.min.js"></script>


  <script src="../../../dist/class/engines/genericEngines/progressEngine.min.js"></script>
  <script src="../../../dist/engines/cap_3/mathEngine.min.js"></script>
  <script src="../../../dist/class/engines/genericEngines/engineMaker.min.js"></script>
  <script src="../../../dist/engines/genericEngines/engineLayout.min.js"></script>



  <script src="../../../dist/engines/cap_4/quizEngine.min.js"></script>
  <script src="../../../dist/engines/cap_4/keyboardsList.min.js"></script>


  <script src="../../../definitions/cap_4/pag_10_1.js"></script>





</body>

</html>