<%- include(rutes+'/head.min.ejs'); %>
  <style>
    .colorArtifact {
      width: 600px;
      margin-bottom: 50px;
    }
  </style>
  <div class="containerNormal background-gray">

    <h3>Operaciones con curvas</h3>
    <hr>


    <div class=" d-flex flex-wrap shadow rounded  d-flex justify-content-start p-3"
      style="display: flex; flex-direction: wrap;">
      <p>En la figura que sigue, transforme los puntos gruesos siguiendo las mismas indicaciones dadas
        para la figura anterior. En esta figura no se han puesto las verticales para no sobrecargarla, pero los
        transformados siguien estando en la misma vertical. La única vertical que se ha dibujado es la del punto
        de
        la curva que tiene altura cero, es decir, donde no habrá transformado. Esto es para recordarle que la
        curva
        que resultará al unir los puntos transformados tendrá (en este caso) dos partes.
      </p>

      <p>Una los puntos transformados, sin atravesar las verticales de puntos que no tienene transformados.</p>

    </div>

    <div class="row">
      <div class="col-12">
        <div id="mainOwner"></div>
      </div>
      <div class="col-12">


        <div id="globalContainer" class="">
          <div id="oneContainer" class="contenedor-preguntas"></div>
        </div>



        <div class="d-flex w-100 justify-content-center">
          <div class="colorArtifact" data-definition="artifact_1" data-board="board_1"></div>
        </div>



        <p>Si ha hecho el ejercicio correctamente la curva obtenida debe parecerse a la curva cociente hecha antes
          de
          la tabla. Este parecido es consecuencia del hecho de que para fabricar una aproximación de la curva
          cociente
          (recíproca) basta con transformar (sin usar calculadora) unos cuantos puntos claves y unirlos de manera
          conveniente.</p>

        <h6> <strong>¿Cuáles son los puntos claves?</strong></h6>

        <p><strong>Primeramente, los puntos de altura 0,-1 y 1.</strong> Por ello daba una curva a la cual se quiere
          graficar su recíproca es conveniente dibujar una rejilla formada por las verticales que pasan por los
          puntos
          de corte de la curva con el eje x, y por las horizontales cuyas alturas son -1 y 1 (Observe que en la
          figura
          anterior el conjunto de las líneas punteadas forman la rejilla apropiada para esa curva). Los puntos de
          corte, de la rejilla con la curva son claves.</p>


        <p>Los otros puntos claves son los que <strong>están cerca del eje x (de lado y lado).</strong> </p>
        <p>Los que están <strong>lejos del eje x</strong></p>
        <p>Finalmente, también los <strong>máximos y mínimos</strong> son claves</p>


        <div class="   shadow rounded p-3 " style="width:fit-content; margin: auto;">

          <p>Construya la curva 1/f para la f de la figura que sigue. Para ello proceda en el siguiente orden:</p>



          <div class="pl-5">


            <ul>
              <li>
                <p>Primero: haga la rejilla.</p>
              </li>
              <li>
                <p>Segundo: sitúe los puntos claves.</p>
              </li>
              <li>
                <p>Tercero: sitúe los transformados de los puntos claves.</p>
              </li>
              <li>
                <p>Cuarto: una con trazos "adecuados" los transformados.</p>
              </li>
            </ul>


          </div>

        </div>

      </div>
    </div>
  </div>


  <template id="tmp-SRP">
    <div id="artifacts" class="d-flex flex-column borderDefault m-2 squares-div">

      <div class="defRoadBoard jxgbox mb-1 boardResp" data-board="board_0" data-artifact="artifact_1"> </div>

      <div class="d-flex w-100 flex-wrap justify-content-center border border-dark rounded btn-all">
        <div class="d-flex flex-row">
          <div class="d-flex flex-column">
            <div class="d-flex flex-wrap justify-content-center">


              <button class="curve button-marg buttonTertiary buttonKey buttonAux"
                title="Crear curva con los puntos finales"></button>
              <button class="pointClose button-marg buttonTertiary buttonKey buttonAux"
                title="Punto para la curva"></button>
              <button class="btnAsymptotes button-marg buttonTertiary buttonKey buttonAux" title="Asintota"></button>
            </div>
            <div class="d-flex flex-wrap">
              <button class="help buttonSecundary button-marg  buttonKey" title="Ayuda"></button>
              <button class="gear buttonSecundary button-marg  buttonKey"> </button>
              <button class="infinite buttonSecundary button-marg  buttonKey"> </button>
              <button class="back buttonSecundary button-marg  buttonKey" title="Retornar"></button>
              <button class="reset button-marg buttonSecundary buttonKey" title="Reiniciar"></button>
              <button class="check button-marg buttonPrimary buttonKey" title="Validar"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
  <template id="tmp-config">
    <div class="centerFloat pr-1 pl-1 toggleDisplay divConfig d-flex flex-row justify-content-left align-items-center">
      <div class="configTop">
        <h5 style="margin-top: 10px; border-bottom: solid 2px black;">
          Configuraciones
        </h5>
        <button class="btnClose closed buttonKey button-marg"></button>
      </div>
      <ul>
        <li>
          <p>
            Holgura de la curva
            <input class="rangeConfig" min="0.0" max="1" step="0.1" ; orient="vertical" type="range" />
          </p>
        </li>
        <li>
          <p>
            Color: <input class="colorConfig" type="color" name="" id="" />
          </p>
        </li>
      </ul>
    </div>
  </template>
  <template id="template">
    <div class="content_1">
      <div class="content_2"></div>
    </div>
  </template>
  <template id="template">
    <div class="content_1">
      <div class="content_2">
      </div>
    </div>
  </template>
  <template id="globalTemplate">

    <div id="artifact-container"
      class="d-flex w-100 flex-wrap justify-content-center rounded btn-all artifact-container">
      <div id="content" class="">

      </div>
      <div class="d-flex w-100 flex-wrap justify-content-center  rounded btn-all">
        <div class="d-flex flex-row">
          <div class="d-flex flex-wrap justify-content-start"></div>

          <button class="reset button-marg buttonSecundary buttonKey" title="Reiniciar"></button>
          <button class="check button-marg buttonPrimary buttonKey" title="Validar"></button>

        </div>
      </div>

    </div>

  </template>
  <template id="templateSelect">
    <div class='row flex-wrap mt-2' id="selectq">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <label for="opciones"></label>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12  d-flex justify-content-start">
        <select class="form-select form-control" name="opciones" id="opciones"
          style="width: fit-content ;max-width:90%;">
      </div>
      </select>
    </div>
  </template>
  <template id="templateCheck">

    <div class=" row d-flex mt-1" id="radioContainer">
      <div class="title col-6 justify-content-start">

      </div>
      <div class="content col-6 justify-content-start">

      </div>
    </div>

  </template>
  <template id="templateInput">
    <div class="row">
      <div id="title" class="d-flex justify-content-start col-12 ">
      </div>
      <div id="content" class="d-flex justify-content-between col-12"></div>
    </div>
    </div>
  </template>

  </div>


  <template id="templateExample">

    <div class="artifactColor">
      <div class="artifactColor__notification transitionNotification " data-show="false">
        <!-- Selección de franjas inadecuada -->

      </div>

      <div class="artifactColor__Board" id="" data-board="board_" data-artifact="artifact_">
      </div>
      <div class="artifactColor__menu">
        <span class="arrowToClose"></span>

        <div class="artifactColor__menuContent">
          <div class="artifactColor__menuColors" data-position='positive' data-select="null">

          </div>
          <div class="artifactColor__menuColors" data-position='negative' data-select="null">

          </div>
        </div>
      </div>
      <div class="artifactColor__btnContainer btn-all">

        <div class="choseColors">

          <div class="choseColors__elements">

            <button class="choseColors__select" id="btnChose-0" data-status='inactive' data-select='null'>

            </button>
            <button class="btnChangePosition" title="Aplicar la inversa a los puntos"></button>
            <button class="choseColors__select" id="btnChose-1" data-status='inactive' data-select='null'>
            </button>
          </div>
        </div>
        <div class="artifactColor__Otherbtn">
        </div>
        <div>
          <button class="  help-btn button-marg buttonSecundary buttonKey d-none"></button>
          <button class=" reset button-marg buttonSecundary buttonKey"></button>
          <button class="  check button-marg buttonPrimary buttonKey"></button>
        </div>
      </div>
    </div>
  </template>
  <%- include(rutes+'/bodyClose.min.ejs'); %>