<%- include(rutes+'/head.min.ejs'); %>

  <div class="containerNormal background-gray">
    <nav class="mb-5 border-bottom border-dark">
      <div class="d-flex justify-content-between">
        <p class="navbar-brand font-italic text-break">Operaciones con Curvas</p>
      </div>
    </nav>
    <div style="display: flex; justify-content: center; width: 50%;">
      <div>
        <p>En cada recuadro:
        </p>
        <p>1- Haga todos los caminos inversos que comienzan en los puntos gruesos del eje x.</p>
        <p>2- Una con trazos sencillos los puntos finales resultantes.</p>
        <p>La curva que resulta se llamará la curva inversa. Si el nombre de la curva es f, el de su inversa es
          <math xmlns="" display="flex" style="font-size: 20px; letter-spacing: 3px;">
            <msup>
              <mi> f </mi>
              <mn> -1 </mn>
            </msup>
          </math>
        </p>

      </div>
    </div>
    <div id="mainOwner"></div>
    <div class=" container d-flex justify-content-between">
      <div class="row d-flex justify-content-between">
        <div id="globalContainer">
          <div class="d-flex flex-wrap justify-content-center ">
            <div class="">
              <div id="oneContainer" class="contenedor-preguntas "></div>
            </div>
            <div class="" style="height: min-content;">
              <div id="twoContainer" class="contenedor-preguntas"></div>
            </div>
          </div>
          <div class="d-flex flex-wrap justify-content-center align-items-center">

            <div id="thirdContainer" class="contenedor-preguntas "></div>
          </div>

        </div>
      </div>
    </div>

    <template id="tmp-road">

      <div class="rContainer">

        <div class="rEncunciado_container borderDefault mb-1 rounded text-center rounded-1">
          <p class="rEnunciadoTop">f(g(x))</p>
        </div>


        <div class="jxgbox defRoadBoard borderDefault rounded rounded-1 " style="min-height: 300px;"></div>

        <div class="rEncunciado_container borderDefault mb-1 rounded text-center rounded-1">
          <p class="rEnunciadoBottom">f(g(x))</p>
        </div>
        <div class="btn-all d-flex flex-row rBotones borderDefault rounded rounded-1  ">

          <div class="rButtons_paths ">
            <button class="rUp_arrow  buttonKey " title=" camino  hacia arriba"></button>
            <button class="rRight_arrow  buttonKey" title="camino hacia derecha"></button>
            <button class="rLeft_arrow  buttonKey  " title="camino hacia izquierda"></button>
            <button class="rDown_arrow  buttonKey  " title="camino hacia abajo"></button>
          </div>

          <div class="d-flex flex-wrap rBtns">
            <div class="rInteractiveOne Interactive">

              <button class="finishRoad buttonAux button-marg  buttonKey" title="Punto final"></button>
              <button class="visible buttonAux button-marg  buttonKey" title="Visible">
                <svg width="80%" height="80%" fill="none" strokeWidth="1.5" viewBox="0 0 24 24" color="#000000">
                  <path stroke="#000000" strokeWidth="1.5" strokeLinecap="round" strokeLinejoin="round"
                    d="M12 14a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"></path>
                  <path stroke="#000000" strokeWidth="1.5" strokeLinecap="round" strokeLinejoin="round"
                    d="M21 12c-1.889 2.991-5.282 6-9 6s-7.111-3.009-9-6c2.299-2.842 4.992-6 9-6s6.701 3.158 9 6Z">
                  </path>
                </svg>
              </button>

              <button hidden class="help buttonSecundary button-marg buttonKey" title="Ayuda"></button>
            </div>

            <div class="rInteractiveTow Interactive">
              <button class="back buttonSecundary button-marg  buttonKey" title="Retornar"></button>
              <button class="reset buttonSecundary button-marg buttonKey" title="Reiniciar"></button>
              <button class="check buttonPrimary button-marg buttonKey " title="Validar"></button>
            </div>
          </div>

        </div>

      </div>
    </template>

    <template id="template">
      <div class="content_1">
        <div class="content_2">
        </div>
      </div>
    </template>

    <template id="globalTemplate">
      <div id="artifact-container"
        class="d-flex w-100 flex-wrap justify-content-center rounded btn-all artifact-container question">
        <div id="content" class="question__content">
        </div>
        <div class="d-flex w-100 flex-wrap justify-content-center  rounded btn-all question__footer">
          <div class="d-flex flex-row">
            <div class="d-flex flex-wrap justify-content-start "></div>
            <button class="reset button-marg buttonSecundary buttonKey question__footer__reset"
              title="Reiniciar"></button>
            <button class="check button-marg buttonPrimary buttonKey question__footer__check" title="Validar"></button>

          </div>
        </div>

      </div>

    </template>
    <template id="cardCol">
      <div class="col-6">

      </div>
    </template>
    <template id="templateSelect">
      <div class='' id="selectq">
        <div class="">
          <label for="opciones"></label>
        </div>
        <div class="">
          <select class="form-select form-controlx" name="opciones" id="opciones" style="width:fit-content">
        </div>
        </select>
      </div>
    </template>
    <template id="templateCheck">

      <div class="" id="radioContainer">
        <div class="title ">
        </div>
        <div class="content  ">
        </div>
      </div>
    </template>
    <template id="templateInput">
      <div class="row d-flex justify-content-center">
        <div id="title" class=""></div>
        <div id="content" class=""></div>
      </div>

    </template>

  </div>
  <%- include(rutes+'/bodyClose.min.ejs'); %>