<%- include(rutes+'/head.min.ejs'); %>
  <!-- <nav class="mb-5 border-bottom border-dark">
      <div class="d-flex justify-content-between">
         <p class="navbar-brand font-italic text-break">Operaciones con curvas</p>
      </div>
   </nav> -->
  <div id="" class="containerNormal background-gray">
    <h3>Operaciones con curvas</h3>
    <hr>
    <p class="infoText">
      Trace las verticales de los extremos del dominio de la suma y en ese dominio, las que pasen por
      extremos locales. Luego sobre cada vertical sitúe lo más exactamente posible el punto de la curva
      suma. Finalmente una los puntos.</p>

    <template id="tmp-SRP">
      <div id="artifacts" class="d-flex flex-column borderDefault m-2 squares-div">

        <div class="defRoadBoard jxgbox mb-1 boardResp" data-board="board_0" data-artifact="artifact_1"> </div>

        <div class="d-flex w-100 flex-wrap justify-content-center border border-dark rounded btn-all">
          <div class="d-flex flex-row">
            <div class="d-flex flex-column">
              <div class="d-flex flex-wrap justify-content-center">

                <button class="curve button-marg buttonTertiary buttonKey buttonAux"
                  title="Crear curva con los puntos finales"></button>
                <button class="pointClose button-marg buttonTertiary buttonKey buttonAux"
                  title="Punto para la curva"></button>
                <button class="btnAsymptotes button-marg buttonTertiary buttonKey buttonAux" title="Asintota"></button>
              </div>
              <div class="d-flex flex-wrap">
                <button class="help buttonSecundary button-marg  buttonKey" title="Ayuda"></button>
                <button class="gear buttonSecundary button-marg  buttonKey"> </button>
                <button class="infinite buttonSecundary button-marg  buttonKey"> </button>
                <button class="back buttonSecundary button-marg  buttonKey" title="Retornar"></button>
                <button class="reset button-marg buttonSecundary buttonKey" title="Reiniciar"></button>
                <button class="check button-marg buttonPrimary buttonKey" title="Validar"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>

    <template id="tmp-config">
      <div
        class="centerFloat pr-1 pl-1 toggleDisplay divConfig d-flex flex-row justify-content-left  align-items-center">
        <div class="configTop">
          <h5 style="margin-top: 10px; border-bottom: solid 2px black;">Configuraciones</h5>
          <button class="btnClose closed buttonKey button-marg"> </button>
        </div>
        <ul>
          <li>
            <p> Holgura de la curva <input class="rangeConfig" min="0.0" max="1" step="0.1" ; orient="vertical"
                type="range"> </p>
          </li>
          <li>
            <p> Color: <input class="colorConfig" type="color" name="" id=""> </p>
          </li>
        </ul>
      </div>
    </template>

    <div id="mainOwner">
    </div>

    <div id="grid" class="d-flex  flex-wrap justify-content-center">
    </div>

    <template id="template">
      <div class="content_1">
        <div class="content_2">
        </div>
      </div>
    </template>
  </div>
  <%- include(rutes+'/bodyClose.min.ejs'); %>