<%- include(rutes+'/head.min.ejs'); %>
  <style>
    .artifactExample {
      margin: auto;
      width: 600px;
      height: 600px;
      margin-bottom: 20px;
    }

    .exampleContainer {
      width: 100%;
    }
  </style>


  <div class="containerNormal background-gray">
    <h3>Operaciones con curvas</h3>
    <hr>
    <!--  -->

    <section class="exampleContainer">

    </section>
    <p class="infoText">Grafique <span class=""><math-field class="operationContainer--mathField expression"
          style="display: inline-block;"> \frac{1}{x}</math-field></span> para cada curvas <span
        class="expression">f</span> que aparecen en las gr치ficas.
      En los casos en que <span class=""><math-field class="operationContainer--mathField expression"
          style="display: inline-block;"> \frac{1}{x}</math-field></span> se sale del recuadro, utilice puntos
      suspensivos,
      pero haga notar cuales ramas llegan m치s arriba o m치s abajo. </p>
    <section class="containerNormal flexGrid">
      <div class="colorArtifact  " data-definition="artifact_1" data-board="board_1"></div>
      <div class="colorArtifact  " data-definition="artifact_2" data-board="board_2"></div>
      <div class="colorArtifact  " data-definition="artifact_3" data-board="board_3"></div>

    </section>

  </div>


  <!-- TemplateEngineColor -->


  <template id="templateExample">

    <div class="artifactColor">
      <div class="artifactColor__notification transitionNotification " data-show="false">
        <!-- Selecci칩n de franjas inadecuada -->

      </div>

      <div class="artifactColor__Board" id="" data-board="board_" data-artifact="artifact_">
      </div>
      <div class="artifactColor__menu">
        <span class="arrowToClose"></span>

        <div class="artifactColor__menuContent">
          <div class="artifactColor__menuColors" data-position='positive' data-select="null">

          </div>
          <div class="artifactColor__menuColors" data-position='negative' data-select="null">

          </div>
        </div>
      </div>
      <div class="artifactColor__btnContainer btn-all">

        <div class="choseColors">

          <div class="choseColors__elements">

            <button class="choseColors__select" id="btnChose-0" data-status='inactive' data-select='null'>

            </button>
            <button class="btnChangePosition" title="Aplicar la inversa a los puntos"></button>
            <button class="choseColors__select" id="btnChose-1" data-status='inactive' data-select='null'>
            </button>
          </div>
        </div>
        <div class="artifactColor__Otherbtn">
        </div>
        <div>
          <button class="  help-btn button-marg buttonSecundary buttonKey d-none"></button>
          <button class=" reset button-marg buttonSecundary buttonKey"></button>
          <button class="  check button-marg buttonPrimary buttonKey"></button>
        </div>
      </div>
    </div>
  </template>
  <%- include(rutes+'/bodyClose.min.ejs'); %>