<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Página 10</title>

  <!-- Estilos -->
  <link rel="stylesheet" href="../../../dist/css/generic/styles.min.css" />
  <link rel="stylesheet" href="../../../dist/css/generic/bootstrap.min.css" />
  <link rel="stylesheet" href="../../../dist/css/generic/jsxgraph.min.css" />
  <link rel="stylesheet" type="text/css" href="../../../dist/css/generic/generalStylesFragata.min.css" />
  <script type="text/javascript" src="../../../dist/class/engines/genericEngines/polyfillsAllUsed.min.js"></script>
</head>

<body>
  <div class="containerNormal background-gray">
    <h3>Fórmulas</h3>
    <hr>


    <p class="superTitle">ECUACIONES</p>
    <div class="d-flex justify-content-start">

      <p class="infoText">Una ecuación es una expresión formada por una fórmula, un signo igual y un número.
      </p>
    </div>
    <div class="d-flex justify-content-start">
      <p class="infoText"> Fórmula = Número </p>


    </div>


    <div>
      <math class=" expression" xmlns="http://www.w3.org/1998/Math/MathML">
        <mi>f</mi>
        <mfenced>
          <mi>(x)</mi>
        </mfenced>
        <mo>=</mo>
        <mi>a</mi>
      </math>
    </div>
    <div class="d-flex justify-content-start">
      <p class="infoText">Siempre lo que hay en cada una de las mitades de las pantallas se puede igualar</p>

    </div>
    <div class="d-flex justify-content-start">
      <p class="infoText">En función a la resolución de los Diagramas de Ecuaciones complete los siguientes ejercicios</p>

    </div>

    <!-- <div class="infoText">
        <p>Las nociones que se han comentado están agrupadas en los diagramas que siguen. En el primero la notación es en castellano, en el segundo algebraica. Compare los espacios análogos para comprender el significado de cada  término castellano. </p> 
      <p>Complete de acuerdo a los diagramas.</p>
      </div> -->
    <!-- style="max-width: 1050px" -->



    <p class="note"> <br />-En caso de error o que no sea solución, colocar ∄
      <br /> -Recuerde utilizar 6 decimales si es necesario
      <br />-Utilice la calculadora en radianes
    </p>

    <div id="mainArtifact" style="max-width: 1200px ;">
      <div id="contenedor" class="mainContent">

      </div>

    </div>

    <template id="template">
      <div id="artifact">

      </div>

    </template>
    <!-- Librerías -->
    <script src="../../../dist/library/jsxgraphcore.min.js"></script>
    <script src="../../../dist/library/mathLive.min.js"></script>
    <script src="../../../dist/library/computeEngine.min.js"></script>

    <!-- Motores -->
    <script src="../../../dist/class/engines/genericEngines/mod_G.min.js"></script>
    <script src="../../../dist/class/engines/genericEngines/progressEngine.min.js"></script>

    <script src="../../../dist/engines/cap_3/mathEngine.min.js"></script>

    <!-- definicion -->
    <script src="../../../dist/definitions/cap_3/pag_10.min.js"></script>
</body>

</html>