<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- Estilos -->
  <link rel="stylesheet" href="../../../dist/css/generic/styles.min.css">
  <link rel="stylesheet" href="../../../dist/css/generic/bootstrap.min.css">
  <link rel="stylesheet" href="../../../dist/css/generic/styles.min.css">
  <script type="text/javascript" src="../../../dist/class/engines/genericEngines/polyfillsAllUsed.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../../../dist/css/generic/ownerStyles.min.css" />
  <link rel="stylesheet" type="text/css" href="../../../dist/css/generic/generalStylesFragata.min.css" />
</head>

<body>

  <div class="containerNormal background-gray">
    <div class="d-flex flex-column">
      <div class="w-10 mt-2">
        <h3>Fórmulas</h3>
        <hr>
        <div class="infoText">

          <p>Complete los diagramas de manera coherente</p>
        </div>


      </div>

    </div>


    <div class="contentArtifactMath">
      <div id="mainArtifact" style="max-width: 1050px">
        <div id="contenedor" class="mainContent"></div>
      </div>
    </div>

    <template id="template">
      <div id="artifact">

      </div>

    </template>
  </div>



  <!-- Librerías -->
  <script src="../../../dist/library/jsxgraphcore.min.js"></script>
  <script src="../../../dist/library/mathLive.min.js"></script>
  <script src="../../../dist/library/computeEngine.min.js"></script>

  <!-- Motores -->
  <script src="../../../dist/class/engines/genericEngines/mod_G.min.js"></script>
  <script src="../../../dist/engines/cap_3/mathEngine.min.js"></script>
  <script src="../../../dist/class/engines/genericEngines/progressEngine.min.js"></script>

  <!-- definition -->
  <script src="../../../dist/definitions/cap_3/pag_5.min.js"></script>
</body>

</html>