<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página 16</title>

  <!-- Estilos -->
  <link rel="stylesheet" href="../../../dist/css/generic/styles.min.css">
  <link rel="stylesheet" href="../../../dist/css/generic/bootstrap.min.css">
  <link rel="stylesheet" href="../../../dist/css/generic/styles.min.css">
  <script type="text/javascript" src="../../../dist/class/engines/genericEngines/polyfillsAllUsed.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../../../dist/css/generic/ownerStyles.min.css" />
  <link rel="stylesheet" type="text/css" href="../../../dist/css/generic/generalStylesFragata.min.css" />
</head>

<body>

  <!-- <div class="containerNormal background-gray">
      <h3>Fórmulas</h3>
      <hr />
      <p class="infoText">
            Haga mentalmente los pasos de aplicación y simplificación.</p>
            <p class="note">  <br/>-En caso de error o que no sea solución, colocar ∄ 
               <br/> -Recuerde utilizar 6 decimales si es necesario
             <br/>-Utilice la calculadora en radianes</p>

              <div class="" id="mainArtifact">
                  <div id="contenedor" class="mainContent" style="justify-content: start !important;">
                    <div id="titulo"></div>
                  </div>
                </div>
            <template id="template">
                <div id="artifact"></div>
              </template>
            
              </div> -->

  <div class="containerNormal background-gray">
    <h3>Fórmulas</h3>
    <hr>
    <p class="infoText">
      Haga mentalmente los pasos de aplicación y simplificación.</p>
    <p class="note"> <br />-En caso de error o que no sea solución, colocar ∄
      <br /> -Recuerde utilizar 6 decimales si es necesario
      <br />-Utilice la calculadora en radianes
    </p>
    <p> Recuerde que las fracciones son números.</p>
    <div class="contentArtifactMath">
      <div id="mainArtifact" style="max-width: 1050px">
        <div id="contenedor" class="mainContent"></div>
      </div>
    </div>

    <template id="template">
      <div id="artifact"></div>
    </template>
  </div>
  <style>
    .defRoad {
      width: fit-content;

    }

    .col-6 {
      flex: 0 0 0%;
    }
  </style>
  </div>
  <!-- Librerías -->
  <script src="../../../dist/library/jsxgraphcore.min.js"></script>
  <script src="../../../dist/library/mathLive.min.js"></script>
  <script src="../../../dist/library/computeEngine.min.js"></script>

  <!-- Motores -->
  <script src="../../../dist/class/engines/genericEngines/mod_G.min.js"></script>
  <script src="../../../dist/engines/cap_3/mathEngine.min.js"></script>
  <script src="../../../dist/class/engines/genericEngines/progressEngine.min.js"></script>

  <!-- definicion -->
  <script src="../../../dist/definitions/cap_3/pag_16.min.js"></script>
</body>

</html>